#banner {
    background-image: url(https://cdn.europosters.eu/image/hp/66923.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 500px;
}

@media(max-width:768px) {
 
  #banner {
    background-position: 40%;
    height: 150px; /* ou qualquer outra altura desejada para telas de celular */
    }
}
